{% extends "base/structure.html" %}

{% block title %}
    Notes
{% endblock %}


{% block content %}
{% load staticfiles %}

<!-- Navigation  ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top on">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="{% url 'index' %}"><i class="fa fa-adn" aria-hidden="true"></i>
          <strong>AIJEEC</strong></a> </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#home" class="page-scroll">Home</a></li>
          <li><a href="/#services-section" class="page-scroll">Courses</a></li>
          <li><a href="/#gallery" class="page-scroll">Gallery</a></li>
          <li><a href="{% url 'notes' %}" class="page-scroll">Notes</a></li>
          <li><a href="/#about-section" class="page-scroll">About</a></li>
          <li><a href="/#team-section" class="page-scroll">Teachers</a></li>
          <li><a href="/#contact-section" class="page-scroll">Contact</a></li>
        </ul>
      </div>
    </div>
</nav>
  

{% if notes %}

    <br><br><br><br><br>
    <div class="co container-fluid">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="heads">All
                            Notes</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="container-fluid table-responsive">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Topic</th>
                                    <th>Published On</th>
                                    <th>Notes by</th>
                                    <th>Download</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for note in notes %}

                                    <tr>
                                        <td>{{ note.subject }}</td>
                                        <td>{{ note.topic }}</td>
                                        <td>{{ note.publication_date }}</td>
                                        <td>{{ note.teacher }}</td>
                                        <td><a href="{{ note.note.url }}"  class="btn btn-info btn-xs">
                                            <span class="fa fa-download"></span> Download</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% else %}
<div class="jumbotron">
    <br>
    <h1 style="text-align: center">No Notes were published</h1>
    <br>
</div>
{% endif %}

{% endblock %}
