<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AIJEEC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Icons -->
    <link rel="shortcut icon" href="{% static "base/img/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static "base/img/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "base/img/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "base/img/apple-touch-icon-114x114.png" %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "/base/css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "/base/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "/base/css/prettyPhoto.css" %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "/base/css/style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "base/fonts/font-awesome/css/font-awesome.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
    <!-- js -->
    <script type="text/javascript" src="{% static "/base/js/modernizr.custom.js" %"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script type="text/javascript" src="{% static "/base/js/jquery.1.11.1.js" %}"></script> 
    <script>
      $(window).load(function() {
        setTimeout(()=>{
          $(".se-pre-con").fadeOut('medium');
        },300);
      });</script>
</head>
<body>
    
<!-- Navigation  ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top on">
        <div class="container"> 
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="{% url 'index' %}"><i class="fa fa-adn" aria-hidden="true"></i>
              <strong>AIJEEC</strong></a> </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/#home" class="page-scroll">Home</a></li>
              <li><a href="/#services-section" class="page-scroll">Courses</a></li>
              <li><a href="/#gallery" class="page-scroll">Gallery</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'notes' %}" class="page-scroll">Notes</a></li>
              {% endif %}
              <li><a href="/#about-section" class="page-scroll">About</a></li>
              <li><a href="/#team-section" class="page-scroll">Teachers</a></li>
              <li><a href="/#contact-section" class="page-scroll">Contact</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'users:logout' %}" class="page-scroll authen">Logout</a></li>
              {% else %}
              <li><a href="{% url 'users:login' %}" class="page-scroll authen">Login</a></li>
              <li><a href="{% url 'users:register' %}" class="page-scroll authen">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>

    <!-- All the other stuffs goes in here -->

    {% block content %}

    {% endblock %}


    <!-- Rest of the thing goes on -->
    <div id="social-section">
        <div class="container">
          <div class="social">
            <ul>
              <li><a href="https://www.facebook.com/aijeec"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    <!-- Footer Part Begins -->
    <div id="footer">
        <div class="container">
          <div class="fnav">
            <p>Copyright &copy; AIJEEC. Designed by <a href="http://www.github.com/xritzx" rel="nofollow">Student of AIJEEC</a></p>
          </div>
        </div>
    </div>

<!-- All of the needed javascript Files -->
<script type="text/javascript" src="{% static "base/js/bootstrap.js" %}"></script> 
<script type="text/javascript" src="{% static "base/js/SmoothScroll.js" %}"></script> 
<script type="text/javascript" src="{% static "base/js/jquery.counterup.js" %}"></script> 
<script type="text/javascript" src="{% static "base/js/waypoints.js" %}"></script> 
<script type="text/javascript" src="{% static "base/js/jquery.prettyPhoto.js" %}"></script> 
<script type="text/javascript" src="{% static "base/js/jquery.isotope.js" %}"></script> 
<script type="text/javascript" src="{% static "base/js/jqBootstrapValidation.js" %}"></script> 
<script type="text/javascript" src="{% static "base/js/main.js" %}"></script>

</body>
<style>
  .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("{% static "/loader/loader.svg" %}") center no-repeat #fff;
}
</style>
<div class="se-pre-con"></div>

</html>




