{% extends "base/structure_nav.html" %}

{% block title %}
    Login
{% endblock %}


{% block content %}
{% load staticfiles %}




  <div id="contact-section" class="text-center">
  <div class="container">
    {% if failed %}
    <h2 style="color:rgb(211, 67, 67)">Login failed, Please enter the Username and Password correctly</h2>
    {% else %}
    <h2>Login Page</h2>
    {% endif %}
    <form action="{% url 'users:login' %}" method="post">
      {% csrf_token %}
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
              <label for="username" class="lead">Username: </label>
              <input type="text" name="username" class="form-control" placeholder="Enter Your Username">
              <p class="help-block text-danger"></p>
          </div>
        </div> 

        <div class="col-md-6">
          <div class="form-group">
            <label for="password" class="lead">Password: </label>
            <input type="password" name="password" class="form-control" placeholder="Enter Your Password">
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-default" value="Login">

      </form>
  </div>
  </div>

{% endblock %}