{% extends "base/structure_nav.html" %}
{% block title %}
    Register
{% endblock %}


{% block content %}
{% load staticfiles %}
{% load widget_tweaks %}


<div class="container" style="padding-top:100px;">
    {% if registered %}
        <h1>Congrats You are registered</h1>

    {% else %}
        <h2>Register Now</h2><br>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% for field in user_form %}
            <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {{ field.help_text }}

            </div>
            {% endfor %}
            {% for field in profile_form %}
            <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {{ field.help_text }}
            </div>
            {% endfor %}
            <button type="submit">Register</button>        
        </form>

    {% endif %}
</div>

{% endblock %}