{% extends "base/structure.html" %}
{% load staticfiles %}
{% block title %}
    Register
{% endblock %}


{% block content %}
{% load staticfiles %}
<!-- Navigation  ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top on">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="{% url 'index' %}"><i class="fa fa-adn" aria-hidden="true"></i>
          <strong>AIJEEC</strong></a> </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#home" class="page-scroll">Home</a></li>
          <li><a href="/#services-section" class="page-scroll">Courses</a></li>
          <li><a href="/#gallery" class="page-scroll">Gallery</a></li>
          <li><a href="{% url 'notes' %}" class="page-scroll">Notes</a></li>
          <li><a href="/#about-section" class="page-scroll">About</a></li>
          <li><a href="/#team-section" class="page-scroll">Teachers</a></li>
          <li><a href="/#contact-section" class="page-scroll">Contact</a></li>
        </ul>
      </div>
    </div>
</nav>
  
<div class="container" style="padding-top:100px;">
    {% if registered %}
        <h1>Congrats You are registered</h1>

    {% else %}
        <h2>Register Now</h2><br>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit">Register</button>        
        </form>

    {% endif %}
</div>

{% endblock %}